h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

/*HOME PAGE*/

@media (min-width: 768px) {
    .content {
        flex-direction: row; 
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .content {
        padding: 40px;
        max-width: 80%;
        margin: 0 auto;
    }
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black; /* Hela skärmen svart utanför containern */
    overflow: hidden; /* Förhindrar scrollning om videon är större */
}

.background-container {
    position: fixed; /* Fixerar containern till skärmen */
    top: 50%; /* Centrera vertikalt */
    left: 50%; /* Centrera horisontellt */
    transform: translate(-50%, -50%); /* Perfekt centrering */
    width: 95%; /* Begränsar bredden, kan justeras (t.ex. 80%, 100%) */
    height: 90vh; /* Begränsar höjden, kan justeras (t.ex. 80vh, 100vh) */
    border: 1px solid white; /* Grön border runt videon */
    overflow: hidden; /* Klipper överflödigt innehåll */
}

.background-video {
    position: relative; /* Placera videon inom containern */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%; /* Fyller containern horisontellt */
    height: 100%; /* Fyller containern vertikalt */
    object-fit: cover; /* Fyller containern utan att förvränga */
    z-index: 0; /* Placera videon bakom allt annat innehåll */
}

.page-content {
    position: relative; /* Håller sidinnehåll över videon */
    z-index: 1; /* Placera sidinnehåll över videon */
    min-height: 100vh; /* Fyller hela skärmhöjden */
}

.text-content-home {
    position: absolute; /* Placera text över videon */
    top: 50%; /* Centrera vertikalt */
    left: 3vw; /* Centrera horisontellt */
    transform: translateY(-50%); /* Perfekt centrering */
    z-index: 2; /* Säkerställ att texten ligger över videon */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white; /* Vit text för kontrast mot mörk video */
}

.text-content-home span, .text-content-home a{
    word-wrap: break-word;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: Velista;
}

#first-name, #last-name {
    font-weight: 200;
    font-size: 25px;
}

#work-title {
    font-size: 13px;
    font-family: Almera;
}

#pages-list {
    right: 3vw;
    align-items: flex-end;
}

#pages-list a {
    margin: 25px;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
}

#pages-list a::after {
    content: ''; /* Tomt pseudo-element för understrykning */
    position: absolute; /* Positionerar under texten */
    bottom: -2px; /* Avstånd under texten */
    left: 50%; /* Startar i mitten */
    width: 0; /* Börjar med noll bredd */
    height: 1px; /* Tjocklek på linjen */
    background-color: currentColor; /* Följer textens färg */
    transition: width 1s ease; /* Animering enbart för bredd */
    transform: translateX(-50%); /* Centrerar linjen */
}

#pages-list a:hover::after {
    width: 100%; /* Full bredd av <a>-elementet */
}



@media (min-width: 600px) {
    #first-name, #last-name{
        font-size: 55px;
    }
    #work-title {
        font-size: 25px;
    }
    #pages-list a {
        font-size: 45px;
    }   
}

@media (min-width: 1024px) {
    #first-name, #last-name {
        font-size: 85px;
    }
    #work-title {
        font-size: 40px;
    }
    #pages-list a {
        font-size: 70px;
    }
}

/*ABOUT PAGE*/
.text-content-about {
    position: absolute; /* Placera text över videon */
    top: 5%; /* Centrera vertikalt */
    left: 50%;
    transform: translateX(-50%); /* Perfekt centrering horizont */
    z-index: 2; /* Säkerställ att texten ligger över videon */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* Vit text för kontrast mot mörk video */
}

.about-me-text {
    position: absolute; /* Placera text över videon */
    top: 20%; 
    left: 40%;
    transform: translateX(-50%); /* Perfekt centrering horizont */
    z-index: 2; /* Säkerställ att texten ligger över videon */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white; /* Vit text för kontrast mot mörk video */
    font-size: 20px;
    text-align: left;
}

#about-me {
    font-size: 50px;
}

#socials {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}

#socials a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.card {
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
    top:20%;
    left:50%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    background: #2b2b2b;
    margin: 5px 0;
    padding: 8px;
    border-radius: 6px;
    color: white;
}

/*GLOBAL */
@font-face {
    font-family: "Almera";
    font-weight: 400;
    src: url(/fonts/Almera.ttf)
}

@font-face {
    font-family: "Velista";
    font-weight: 200;
    src: url(/fonts/VELISTA.ttf)
}

@font-face {
    font-family: "Velista";
    font-weight: 400;
    src: url(/fonts/VELISTA.ttf)
}

@font-face {
    font-family: "Velista";
    font-weight: 600;
    src: url(/fonts/VELISTA.ttf)
}
