@page "/about"

<PageTitle>About</PageTitle>

<div class="text-content-about">
	<span id="about-me">About Me</span>
</div>

<div class="about-me-text">
	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis ex felis, ut ultricies ex tempor ut. Duis quis bibendum urna. 
		Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla in tempus ante. 
		Cras eu nulla augue. Maecenas sodales nunc ac velit mollis, semper auctor erat.
	</span>
</div>

<div class="card">
	<ul>
		<li><strong>Namn:</strong> [Ditt namn]</li>
		<li><strong>Ålder:</strong> [Din ålder]</li>
		<li><strong>Stad:</strong> [Din stad]</li>
		<li><strong>Yrke:</strong> [Ditt yrke]</li>
		<li><strong>Intressen:</strong> [Dina intressen]</li>
	</ul>
</div>

<div id="socials">
	<a href="https://www.linkedin.com/in/liam-engelin-060635269/">LinkedIn</a>
	<a href="mailto:liamengelin@outlook.com">Email</a>
</div>

