@page "/about"

<PageTitle>About</PageTitle>

<a class="go-back-button" href="/">← Back</a>

<div class="text-content-about">
	<span id="about-me">About Me</span>
</div>

<div class="card">
	<ul>
		<li><strong>Namn:</strong> Liam Engelin</li>
		<li><strong>Ålder:</strong> 20</li>
		<li><strong>Stad:</strong> Göteborg</li>
		<li><strong>Titel:</strong> Junior DevOps</li>
		<li><strong>Intressen:</strong> Datorer, Resa, Spel</li>
	</ul>
</div>

<div id="socials">
	<a href="https://www.linkedin.com/in/liam-engelin-060635269/">LinkedIn</a>
	<a href="mailto:liamengelin@outlook.com">Email</a>
</div>

