@page "/"

<PageTitle>Home</PageTitle>

<div class="text-content-home">
	<span id="first-name">LIAM</span>
	<span id="last-name">ENGELIN</span>
	<span id="work-title">Junior DevOps</span>
</div>

<div class="text-content-home" id="pages-list">
	<a href="/about" id="abouttext">About</a>
	<a href="/expertise">Expertise</a>
	<a href="/projects">Projects</a>
</div>
