@page "/"

<PageTitle>Home</PageTitle>

<div class="text-content" id="person-info">
	<span>LIAM</span>
	<span>ENGELIN</span>
	<span id="work-title">Junior DevOps</span>
</div>

<div class="text-content" id="pages-list">
	<span>About</span>
	<span>Expertise</span>
	<span>Projects</span>
</div>

